
div.menu {
  width: 100%;
  height: 7.5vh;
  background-color: rgb(42, 42, 42);
  display: flex;
} 

div.menu img {
  padding-right: 3vh;
  padding-left: 2vh;
}

div.menu a {
  text-decoration: none;
  background-color: rgb(42, 42, 42);
  color: white;
  font-weight: bolder;
  cursor: pointer;
  font-size: 2vh;
  margin-right: 2vh;
}

section.menu-ancora {
  margin-left: 5vh;
  margin-top: 2.5vh;
}

div.menu #btn-input {
  background-color: #494848c5;
  border:thin solid #a3a3a365;
  border-radius: 4px;
  color: #a3a3a365;
  cursor: pointer;
  width: 1vh;
  height: 3vh;
  margin-top: 2.3vh;
  margin-left: -5vh;
  padding-right: 2vh;
}

div.menu input{
  background-color: #494848c5;
  height: 4vh;
  width: 40vh;
  margin-top: 1.5vh;
  border: none;
  border-radius: 6px;
}

div.header {
  display: flex;
  justify-content: right;
  border-bottom:thin solid #d3d3d3;
}

section.info {  
  margin-left: 30vh;
}

section.info-user {
  display: flex;

}

section.info-user img {
  padding-top: 2vh;
  margin-left: 2.5vh;
  width: 20vh;
  height: 20vh;
  border-radius: 10px;
  padding-right: 5vh;
}

section.more-info{
  margin-top: 15vh;
  margin-left: -38%;
}

.info h1 {
  font-size: 20px;
  font-weight: normal;
  padding-left: 2vh;
  flex: 1 1 auto;
}

.info a {
 font-size: 12px;
 background-color: white;
 padding-right: 3vh;
 color: black ;
 text-decoration: none;
}

div.header section.button-bottom {
  margin-top: 1vh;
  padding: 2vh;
  cursor: pointer;
  margin-left: 1vh;
  color: #807e7e;
}

section.repositorios {
  width: 90%;
  padding-bottom: 2vh;
}

section.repositorios h3 {
  margin-left: 33vh;
  padding-bottom: 2vh;
  font-weight: normal;
  font-size: 18px;
}

section.cards {
  width: 80%;
  padding-bottom: 2vh;
  margin-left: 25vh;
}

section.repositorios ul {
  display: inline-block;
  width: 25%;
}

section.repositorios li {
  list-style: none;
  display: flex;
}

section.card {
  width: 35vh;
  height: 15vh;
  border: thin solid #d3d3d3;
  border-radius: 4px;
  padding: 2vh;
  margin-left: 2vh;
}

section.card a {
  cursor: pointer;
  font-size: 2.5vh;
  font-weight: bold;
  color: rgb(88, 88, 221);
}

section.card p {
  color: #807e7e;
}

div.corpo {
  display: flex;
}

section.search {
  margin-left: 33vh;
  width: 100%;
  padding-top: 2vh;
  border-bottom: thin solid #d3d3d3;
  padding-bottom: 2vh;
}

section.search input {
  border: thin solid #d3d3d3;
  margin-right: 5vh;
  width: 55vh;
  height: 3.5vh;
  border-radius: 4px;
}

section.search button {
  border: thin solid #d3d3d3;
  background-color: white;
  height: 4.5vh;
  width: 12%;
  border-radius: 4px;
  margin-right: 1vh;
  color: #6d6c6c;
  cursor: pointer;
}

div.all-repositorios {
  height: 100%;
  display: flex;
  width: 90%;
}

section.listagem {
  width: 80%;
  margin-left: 28vh;
  margin-right: 30vh;
  margin-top: 5vh;
}

section.listagem li {
  list-style: none;
}

section.card-repo {
  border-bottom: thin solid #d3d3d3;
  height: 16.5vh;
}

section.card-repo a {
  text-decoration: none;
  color: rgb(88, 88, 221);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

section.card-repo p {
  color: #807e7e;
  margin-bottom: 3vh;
}

section.card span#language {
  color: rgb(88, 88, 221);
  background-color: rgba(235, 235, 250, 0.692);
  padding: 0.7vh;
  border-radius: 20px;
  border-bottom: thin solid #d3d3d3;
}

section.description span {
  margin-right: 3.5vh;
  color: rgb(88, 88, 221);
  background-color: rgba(235, 235, 250, 0.692);
  padding: 0.7vh;
  border-radius: 20px;
  border-bottom: thin solid #d3d3d3;
}

div.rodape {
  flex: 1;
  display: flex;
  justify-content: center;
}

section.sec-rodape {
  display: flex;
  align-items: center;
  width: 20%;
  margin-bottom: 2vh;
}

section.sec-rodape p {
  font-size: 12px;
  margin-right: 3vh;
  color: #6d6c6c;
}

button.btn-rodape {
  border: thin solid #d3d3d3;
  background-color: white;
  border-radius: 4px;
  color: #6d6c6c;
  cursor: pointer;
  width: 10vh;
  height: 3vh;
  margin-right: 3vh;
}

div.div-footer {
  width: 100%;
  border-top: thin solid #d3d3d3;
  height: 10vh;
}

section.footer {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  margin-right: 8.5vh;
}

section.footer a {
   color: rgb(88, 88, 221);
   margin-left: 2vh;
   margin-right: 2vh;
   margin-top: 3vh;
}